node {
    stage('Preparation') {
        catchError(buildResult: 'SUCCESS') {
            sh 'docker stop sample-app-running'
            sh 'docker rm sample-app-running'
        }
    }
    stage('Build') {
        build 'Sample app automation'
    }
    stage('Results') {
        build 'test-sample-app'
    }
}